body {
	background-image: url("aboutbg.jpg");
	div{
 background: inherit;
 width: 250px;
 height: 350px;
 position: absolute;
}

div:before{
 content: “about.jpg”;
 background: inherit; 
 position: absolute;
 left: 0;
 right: 0;
 top: 0; 
 bottom: 0;
 box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
 filter: blur(10px);
}
}


.table-wrap{
display:table;
width:80%;
margin:auto;
border-spacing:20px;
table-layout:fixed; 
}
.tc{
display:table-cell;
vertical-align:top;
border:1px solid #000;
background:red;
padding:10px;
}
.tc + .tc{background:blue}

h1{
	background-color: #52414F;
	color: white;
	text-align: center;
}