
body {
	
}

.table-wrap{
display:table;
width:80%;
margin:auto;
border-spacing:20px;
table-layout:fixed; 
}
.tc{
display:table-cell;
vertical-align:top;
border:1px solid #000;
background:red;
padding:10px;
}
.tc + .tc{background:blue}

h1{
	background-color: #52414F;
	color: white;
	text-align: center;
}
#contentinfo {
	background-blend-mode: 10px;
}
