h1 

header#main-header {
  background: url(http://cdn.skim.gs/images/crdrmkflqhcchetrzcby/meals-in-a-mug) center center;
  padding: 5%;
  line-height: 1.2;
  color: crimson;
  position: relative;
  z-index: 0;
}